/bootstrap/compiled.php
.env.*.php
.env.php
.env
/vendor
/node_modules
Homestead.yaml
composer.phar
.DS_Store
Thumbs.db
.vagrant*
resources/assets/vendor
public/adminlte/plugins
docgen.sh
phpdoc.dist.xml
/public/docs
/public/user
/storage/app/public
